<div><h2>Sigma Lab & Diagnostic</h2></div>
<p>109,A.J.C Bose Road,Kolkata-700014 ,ph:(033)2265-0009/10,email: sigmadiagno@gmail.com</p>
<hr>
<br><div>
<table width="100%">
 <tr>
  <td>
    K-2388#
  </td> 
  <td>
   DATE OF RECEIPT: 24-11-2014 	
  </td>
 </tr>
 <td>
    Ms. SUJATA DAS<br> 
    SEX : F AGE: 26 YRS
    9836157173
  </td> 
  <td>
   DATE OF REPORT: 24-11-2014 	
  </td>
 </tr>
</table>
<br>
<p>Referred By: Dr. OF N.R.S.M.C.H</p>
<br>
 <center><div><u>HAEMATOLOGY</u></div></center>
<br><br>
<table width="100%">
 <tr>
  <td>
   <b>HAEMOGLOBIN</b>
  </td>
  <td></td>
  <td>: 6.80 Gm%</td>
 </tr> 
<tr>
  <td>
   <b>Total Count</b><br>
     &nbsp;&nbsp;ERYTHROCYTIC<br>
     &nbsp;&nbsp;LEUCOCYTIC
   
  </td>
  <td></td>
  <td>
   : 2.88 millions/cu.mm.<br>
   : 6,500 /cu.mm.
  </td>
 </tr>
<tr>
  <td>
   <b>DIFFERENTIAL LEUCOCYTIC COUNT</b><br>
     &nbsp;&nbsp;Neutrophil<br>
     &nbsp;&nbsp;Lymphocyte<br>
     &nbsp;&nbsp;Monocyte
  </td>
  <td></td>
  <td>
   : REL. COUNT<br>
   : 53 %<br>
   : 40 %<br>
   : 02 %<br>
  </td>
 </tr>
</table></div>
